body, html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

iframe {
	height: 100%;
	width: 100%;
	border: none;
}

.navbar {
	background-color: #000000;
	color: #64E764;
}

.btn-primary {
	background-color: #000000;
	color: #64E764;
	border-color: #74E774;
}

.btn-primary:hover {
	background-color: #222222;
	border-color: #74E774;
}
